body {
  background-color: #74abf5;
  color: lightslategrey;
  font-family: 'Mukta Vaani', sans-serif;
  letter-spacing: 0.2em;
  overflow-x: hidden; 
}

p {
  font-size: 13pt;
  font-family: 'Mukta Vaani', sans-serif;
  margin: 0.5em;
}

@media only screen and (max-width:500px){
  p {
  font-size: 10pt;
  }
}

a {
  display: inline-block;
}

/*.about-blurb {
  position:relative;
  max-width: 60vw;
  margin-top: 1em;
  margin-left: 20vw;
  text-align: center;
}

@media only screen and (max-width: 1100px){
  .about-blurb {
  position:relative;
  max-width: 70vw;
  margin-top: 1em;
  margin-left: 15vw;
  text-align: center;
}
}

@media only screen and (max-width: 750px){
  .about-blurb {
  position:relative;
  max-width: 80vw;
  margin-top: 1em;
  margin-left: 10vw;
  text-align: center;
}
}

@media only screen and (max-width: 600px){
  .about-blurb {
  position:relative;
  max-width: 96vw;
  margin-top: 1em;
  margin-left: 2vw;
  text-align: center;
}
}*/

.loader {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3e7aad;
}

.loader .loading-icon {
  z-index: 999;
  position: fixed;
  border-style: solid;
  border-color: #274259;
  border-width: 0.5em;
  top: 45vh;
  left: 45vw;
  width: 10vw;
  height: 10vw;
}


@media only screen and (max-width: 800px) {
  .loader .loading-icon {
    top: 37.5vh;
    left: 37.5vw;
    width: 25vw;
    height: 25vw;
  }
}

.home {
  font-size: 7vw;
  color: ffffff;
  font-family: 'Mukta Vaani', sans-serif;
  margin-top: 55vw;
}

.row {
  margin: 2em auto 2em auto;
}

#footer{
  z-index: 8;
  position: absolute;
  left: 0;
  top: 141.5vw;
  height: 5.5em;
  width: 100%;
  background-color: 20288d;
  color: white;
}

/*clouds, swirls, brids, waves, spray*/

.cloud {
  z-index:3;
  position: absolute;
}

.swirl {
  z-index:4;
  position: absolute;
}

.bird {
  z-index:5;
  position: absolute;
}

.backwave {
  z-index: 1;
  position: absolute;
  top: -4vw;
  left: -1vw;
  width: 102vw;
  height: 132.95vw;
}

.frontwave {
  z-index:2;
  position: absolute;
  top: -2vw;
  left: -1vw;
  width: 102vw;
  height: 132.95vw;
}

.spray {
  z-index:6;
  position: absolute;
  top: 1vw;
  left: 0vw;
  width: 100vw;
  height: 132.95vw;
}

.cloud img{
  position: relative;
  animation-name: cloud;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.frontwave img{
  position: relative;
  animation-name: waves;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.backwave img{
  position: relative;
  animation-name: waves;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-delay: 0.25s;
}

.spray img{
  position: relative;
  animation-name: spray;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0s;
}

#cloud1 {
  top: 2vw;
  left: -2vw;
  width: 6.57vw;
  height: 9.38vw;
}

#cloud2 {
  top: 6vw;
  left: 9vw;
  width: 19.61vw;
  height: 12.33vw;
}

#cloud3 {
  top: 23vw;
  left: 17vw;
  width: 17.66vw;
  height: 10.33vw;
}

#cloud4 {
  top: -3vw;
  left: 30vw;
  width: 10.23vw;
  height: 2.71vw;
}

#cloud5 {
  top: 7vw;
  left: 43vw;
  width: 20.66vw;
  height: 11.52vw;
}

#cloud6 {
  top: 30vw;
  left: 51vw;
  width: 11.09vw;
  height: 9.09vw;
}

#cloud7 {
  top: -6vw;
  left: 66vw;
  width: 21.57vw;
  height: 8vw;
}

#cloud8 {
  top: 13vw;
  left: 80vw;
  width: 17.33vw;
  height: 10.52vw;
}

#swirl1 {
  top: 21vw;
  left: 2vw;
  width: 7.9vw;
  height: 2.86vw;
}


#swirl2 {
  top: 52vw;
  left: 5vw;
  width: 10vw;
  height: 2.76vw;
 }

#swirl3 {
  top: 37vw;
  left: 14vw;
  width: 14.28vw;
  height: 8.76vw;
}


#swirl4 {
  top: 64vw;
  left: 20vw;
  width: 10.61vw;
  height: 3.95vw;
}

#swirl5 {
  top: 80vw;
  left: 29vw;
  width: 5.48vw;
  height: 2.33vw;
}

#swirl6 {
  top: 77vw;
  left: 57vw;
  width: 12.90vw;
  height: 7.19vw;
}

#swirl7 {
  top: 44vw;
  left: 58vw;
  width: 4.85vw;
  height: 2.14vw;
}

#swirl8 {
  top: 17vw;
  left: 64vw;
  width: 8.61vw;
  height: 6.86vw;
}

#swirl9 {
  top: 57vw;
  left: 78vw;
  width: 11vw;
  height: 6.1vw;
}

#swirl10 {
  top: 4vw;
  left: 92vw;
  width: 5.29vw;
  height: 2.48vw;
}

#bird1 {
  top: 72vw;
  left: 10vw;
  width: 12.29vw;
  height: 6.95vw;
}

#bird2 {
  top: 44vw;
  left: 34vw;
  width: 16.24vw;
  height: 6.29vw;
}

#bird3 {
  top: 69vw;
  left: 78vw;
  width: 14.86vw;
  height: 4.81vw;
}

#bird4 {
  top: 34vw;
  left: 73vw;
  width: 20.33vw;
  height: 14.19vw;
}

#bird5 {
  top: 70vw;
  left: 48vw;
  width: 5.19vw;
  height: 2.1vw;
}

#bird4 img{
  position: relative;
  animation-name: foregroundBird;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
}

#bird2 img{
  position: relative;
  animation-name: foregroundBird;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bird1 img{
  position: relative;
  animation-name: midgroundBird;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bird3 img{
  position: relative;
  animation-name: midgroundBird;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.2s;
}

#bird5 img{
  position: relative;
  animation-name: backgroundBird;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes cloud {
  0% { left: 0vw; top: 0vw;}
  25% { left: 1vw; top: 0vw;}
  50% { left: 2vw; top: 1vw;}
  75% { left: 3vw; top: 0vw;}
  100% { left: 4vw; top: 1vw;}
  } 

@keyframes swirl {
  0% { left: 0vw; top: 0vw;}
  25% { left: 1vw; top: 0vw;}
  50% { left: 2vw; top: 1vw;}
  75% { left: 3vw; top: 0vw;}
  100% { left: 4vw; top: 1vw;}
  }

@keyframes foregroundBird{
  0% { left: 0vw; top: 0vw;}
  100% { left: 0vw; top: 2vw;}
  }

@keyframes midgroundBird{
  0% { left: 0vw; top: 0vw;}
  100% { left: 0vw; top: 1vw;}
  }

@keyframes backgroundBird{
  0% {top: 0vw;}
  100% {top: 1vw;}
  }

@keyframes spray{
  from{ 
    top: 0vw;
    left: 0vw;
    transform: scale(1);
  }
  to{
    top: -3vw;
    transform: scale(1.05);
  }
}

@keyframes waves{
  0% {left: 0vw; top: 0vw;}
  25% {left: 0.25vw; top: 0.5vw;}
  50% {left: 0vw; top: 1vw;}
  75% {left: -0.25vw; top:0.5;}
  100% {left: 0vw; top: 0vw;}
}


/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

main {
  text-align: center;
}

h1 { 
  margin: 0;
  font-size: 4rem;
  padding: 0;
}

h2{
  margin: 0;
}


